$var-body-color: darkblue;
$var-text-color: white;
$var-body-padding: 20px;

body {
  color: $var-text-color;
  padding: $var-body-padding;

  background-attachment: fixed;

  background-color: $var-body-color;
  background-image: url("/image/image-back.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#id-box-girl-computer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;

  background-attachment: fixed;

  background-color: gray;
  background-image: url("/image/girl-computer.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#id-box-hero-doom {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;

  background-color: gray;
  background-image: url("/image/hero-doom.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}