$var-basic-font-size: 20px;

html {
    font-size: $var-basic-font-size;
}

body {
    font-size: $var-basic-font-size;
    overflow-x: hidden;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

#main-header-box-id {
    margin-top: 1rem !important;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    span {
        font-size: 2rem;
    }
}

@media (max-width: 55rem) {
    #main-header-box-id {
        span {
            font-size: 1.2rem;
        }
    }
}

.observe-me-class {
    margin: 0;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    height: 18rem;
}

#first-box-id {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .first-box-id__text-box-class {
        opacity: 0;
        font-size: 1rem;
        transition-property: opacity, font-size;
        transition-duration: 0.9s;
        transition-timing-function: ease;
    }
    .animation-one-class {
        opacity: 1 !important;
        font-size: 2.2rem !important;
    }
}

#second-box-id {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    img {
        max-width: 27rem;
        max-height: 17rem;
        border-radius: 0.4rem;
    }
    .left-column__wrapper-content-cl {
        opacity: 0;
        transform: translate(-10rem, 0);
        transition-property: opacity, transform;
        transition-duration: 0.7s;
        transition-timing-function: ease;
        transition-delay: 0.3s;
    }
    .right-column__wrapper-content-cl {
        opacity: 0;
        transform: translate(10rem, 0);
        transition-property: opacity, transform;
        transition-duration: 0.7s;
        transition-timing-function: ease;
        transition-delay: 0.3s;
    }
    .animation-two-class {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
    }
}

#third-box-id {
    display: flex;
    justify-content: center;
    align-items: center;
    #third-box-id__image-doom {
        height: 16rem;
        border-radius: 0.4rem;
        opacity: 0;
        transform: scale(0.5) rotate(-75deg);
        transition-property: opacity, transform;
        transition-duration: 1.2s;
        transition-timing-function: ease;
        transition-delay: 0.2s;
    }
    .animation-three-class {
        opacity: 1 !important;
        transform: scale(1) rotate(0) !important;
    }
}

#fourth-box-id {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    #fourth-box-id__big-label {
        opacity: 0;
        font-size: 0.2rem;
        transition-property: opacity, font-size;
        transition-duration: 1.2s;
        transition-timing-function: ease;
        transition-delay: 0.2s;
    }
    .animation-four-class {
        opacity: 1 !important;
        font-size: 3rem !important;
    }
}

@media (max-width: 60rem) {
    .observe-me-class {
        margin: 0;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        height: auto !important;
    }

    #first-box-id {
        height: auto !important;
        .first-box-id__text-box-class {
            opacity: 1 !important;
            font-size: 1.2rem !important;
        }
        .animation-one-class { 
            opacity: 1 !important;
            font-size: 1.2rem !important;
        }
    }

    #second-box-id {
        height: auto !important;
        grid-template-columns: 90%;
        column-gap: 0;
        .right-column__wrapper-content-cl {
            text-align: center;
        }
        img {
            width: 100%;
        }
        .left-column__wrapper-content-cl {
            opacity: 1 !important;
            transform: translate(0, 0) !important;
        }
        .right-column__wrapper-content-cl {
            opacity: 1 !important;
            transform: translate(0, 0) !important;
        }
        .animation-two-class {
            opacity: 1 !important;
            transform: translate(0, 0) !important;
        }
    }

    #third-box-id {
        height: auto !important;
        img {
            border-radius: 0.4rem !important;
        }
        #third-box-id__image-doom {
            height: auto !important;
            width: 80%;
            border-radius: 0.4rem !important;
            opacity: 1 !important;
            transform: scale(1) rotate(0) !important;
        }
        .animation-three-class {
            opacity: 1 !important;
            transform: scale(1) rotate(0) !important;
        }
    }

    #fourth-box-id {
        height: auto !important;
        padding: 1.2rem !important;
        text-align: center;
        #fourth-box-id__big-label {
            opacity: 1 !important;
            font-size: 1.4rem !important;
        }
        .animation-four-class {
            opacity: 1 !important;
            font-size: 1.4rem !important;
        }
    }
}
